name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: jetify-com/devbox-install-action@v0.12.0
        with:
          enable-cache: true

      - name: Test examples
        run: |
          devbox run test
          cd examples/python && devbox run -- python hello.py
          cd ../dotnet && devbox run -- dotnet run
          cd ../go && devbox run -- go run main.go
          cd ../typescript && devbox run -- tsc hello.ts && devbox run -- node hello.js
